<<<<<<< HEAD

<h1>Welcome to Etsydemo!</h1>
<h2>Etsydemo is an online marketplace for buying and selling handmade goods.</h2>
<p>Copyright 2013</p>
=======
<% content_for :title do %>About<% end %>
<h3>About the Website</h3>
<p>
This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>
>>>>>>> 5d16bacc534dd37e5665373e593c21281373df93
