<<<<<<< HEAD

<h1>Email us at abc@etsydemo.com</h1>
<p>Copyright 2013</p>
=======
<% content_for :title do %>Contact Us<% end %>

<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
>>>>>>> 5d16bacc534dd37e5665373e593c21281373df93
