<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
  <div class="container">
<<<<<<< HEAD
    <p>Copyright 2013</p>

=======
    <p>Copyright 2014</p>
>>>>>>> 5d16bacc534dd37e5665373e593c21281373df93
  </div>
</nav>